body {
  margin-bottom: 0px;
  padding: 0px;
  background: url(img/beky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100vh;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 320px;
  height: 420px;
  box-shadow: 0 0 10px 5px black;
  color: black;
  box-sizing: border-box;
}
.avatar {
  font-size: 50px;
  background: rgb(255, 255, 255);
  width: 75px;
  height: 70px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50px);
}
h1 {
  margin-top: 0px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color: #fff;
}
//*
.login-box p {
  margin-bottom: 0px;
  padding: 0px;
  font-weight: bold;
  color: #fff;
}
*/
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
//
.login-box input[type='Username'],
input[type='Password'] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}*/

.login-box input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  color: black;
  font-size: 18px;
  border-radius: 20px;
  background: #1c8adb;
}
.login-box input[type='submit']:hover {
  cursor: pointer;
  background: #e33d56;
  color: #fff;
}
/*.login-box a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.login-box a:hover {
  color: #e33d56;
}
.eye {
  position: absolute;
  margin-left: 300px;
  margin-top: -12%;
  color: white;
  cursor: pointer;
}
#hide1 {
  display: none;
}
*/
